@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

$primary: #0d292e;
$secondary: #bbcace;
$tittle: #54aac4;

$primary-font: roboto;
$secondary-font: open sans;
$title-size: 2.8rem;
$link-size:2.4rem;
$paregraph-size: 1.8rem;

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
  font-size: 62.5%;
  background-image: linear-gradient(to top, $primary 100%, $secondary 50%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $secondary-font, sans-serif;
  height: 200vh;
  width: 100vw;
  color: $secondary;
}

header {
  display: flex;
  flex-direction: column;

  font-family: $primary-font,sans-serif;
  font-size: $link-size;
  text-transform: uppercase;
  a{
    color: $tittle;
  }
  a:hover {
    color: white;
    transition: 0.5s;
    text-decoration: underline;
    
  }
  .bg-image {
    background-image: url('../images/pexels-josh-sorenson-1714208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }
}

main {
  h2 {
    font-size: $title-size;
    color: $tittle;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  h3 {
    text-align: center;
  }
  p {
    font-size: $paregraph-size;
    margin-left: 10vw;
  }
}