@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

$primary: #9890e3;
$secondary: #b1f4cf;

$primary-font: roboto;
$secondary-font: open sans;
$title-size: 2.8rem;
$link-size:2.4rem;
$paregraph-size: 1.8rem;

*, html {
    margin: 0;
    padding: 0;
} 

body {
  font-size: 62.5%;
  background-image: linear-gradient(to top, $primary 0%, $secondary 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $secondary-font, sans-serif;
  height: 200vh;
  width: 100vw;
  color: black;
}

header {
  margin-top: 20vh;
  font-family: $primary-font,sans-serif;
  font-size: $link-size;
  text-transform: uppercase;
  height: 20vh;
  div {
    background-image: url('../images/gummy-macbook.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
  }
}

main {
  margin-top: 10vh;
  h2 {
    font-size: $title-size;
    color: $secondary;
  }
  p {
    font-size: $paregraph-size;
  }
}